@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */

:root {
  --black: rgb(0, 0, 0);
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); /*with 75% opacity for lightbox background*/
  --swiper-navigation-color: #000000;
  --swiper-navigation-size: 20px !important;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
}

p{
  font-size: 16px;
}

.flex{
  display: flex;
}
.middle{
  align-items: center;
}

.swiper-button-next {
  background-color: white !important;
  padding: 0.5rem 0.7rem;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.75rem rgba(53, 49, 49, 0.4));
}
.swiper-button-prev {
  background-color: white;
  padding: 0.5rem 0.7rem;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.75rem rgba(53, 49, 49, 0.4));
}